@import url("https://fonts.googleapis.com/css?family=Roboto&family=Ubuntu:wght@300;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Ubuntu",'Segoe UI', Tahoma, Geneva, Verdana,sans-serif,"Roboto";
    font-family:  sans-serif;
}
body{
    padding: 10px;
    background-color: #c9d6ff;
   /* background : linear-gradient(to right,#e2e2e2,#c9d6ff); */
    /* background: linear-gradient(135deg, #e0eafc, #68a0f0); changed the background gradient */
    background: linear-gradient(135deg, #e83535, #be75ff);
}

.navbar{
   /* background-color: rgb(46, 16, 71);*/
    background-color: rgb(15, 5, 24);
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 5rem;
    height: 107px;
    border-radius:10px;
}

#logo{
    float:left;
   
}
.left{
    height: 107px;
}
.left img{
    cursor: pointer;
    width:85px;
    height: auto;
    padding-top:10px;
    margin-left:-185px;
    border-radius:25%;
}

.checkBtn{
    display: none;
    cursor: pointer;
    font-size: 30px;
    float:right;
    color: #ed1e79;
    line-height: 80px;
}

#check{
    display: none;
}

.right ul{
    display: flex;
    list-style: none;
}

.right ul li a{
    padding: 10px 20px;
    font-size: 1.2rem;
    color:white;
    cursor: pointer;
    text-decoration: none;
    transition: all 1s;
}

.right ul li a:hover{
    background-color: #fff;
    border-radius: 7px;
    color:rgb(15, 5, 24);
}
#cart:hover{
    background-color: #0f0518;
}

@media screen and (max-width: 805px){
    .list{
        width:100%;
        height:100vh;
        background-color: rgb(15, 5, 24);
        text-align: center;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 4rem;
        left:100%;
        transition: all 1s;
    }
    #check{
        display: none;
    }
    .checkBtn{
        display: block;
    }
    #check.checked~ul{
        left: 0%;
    }
}

/* Hero section */
.hero-section{
    width:auto;
    height:85vh;
    background-image: url(images/hero.png);
    background-position: center;
    background-size: cover;
    padding: 10px 10px;
    overflow: hidden;
    position: relative;
}

.heroBtn{
    display:inline-block;
    text-decoration: none;
    padding: 10px 35px;
    color: #fff;
    background-image: linear-gradient(45deg ,#0e0b37,#9b15ad);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}

.content{
    margin-top: 10%;
    max-width:600px;
}

.content h1{
    font-size: 70px;
    color: #191818;
}

.content .heroBtn{
    padding: 14px 80px;
    font-size: 18px;
}

.heroBtn:hover{
    border-top-right-radius: 30px;

}

.heroImg{
    width:530px;
    position:absolute;
    bottom: 0;
    right: 10%;

}


/* cards for featured tshirt designs  */

.card-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    justify-items: center;
}

.card{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover{
    transform: translateY(-10px);
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content{
    padding:15px;
}

.card-content h3{
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #0f0518;
}

.card-content p{
    font-size: 1rem;
    color:#555;
}

/*Contact form */
/*{
    margin: 0;
    padding:0;

    font-family:'poppins',sans-serif;
}*/
.contact{
    position:relative;
    min-height: 100vh;
   /* padding: 50px 100px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(bb.jpg);
    background-size: cover;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #2d0404;
}
.contact .content p{
    font-weight: 300;
    color: #200202;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #2b020b lack;;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .icons .text{
   /* display: flex;*/
    margin-left: 20px;
    font-size: 16px;
    color: #a41fb3;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .icons .text h3{
    font-weight: 500;
    color: #00bcd4;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #333;
}
.contactForm h2{
    font-size: 300px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 100px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

/*Login and signup form */

.container{
     background: #ffffff; 
    /*background: linear-gradient(135deg, #e0eafc, #68a0f0);*/
    width: 450px;
    padding: 1.5rem;
    margin: 50px auto;
    border-radius: 10px;
   /* box-shadow: 0 20px 35px rgba(0,0,1,0,9); */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);/*box shadow updated */
}
form{
    margin: 0 2rem;
}
.form-title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1.3rem;
    margin-bottom: 30px;
    /* color: black; */
    color: #4a235a; /* color changed to purple */
}
input{
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
    padding-left: 1.5rem;
    font-size: 15px;
    color: black;
}
.input-group{
    padding: 1% 0;
    position: relative;
    display: flex;
    flex-direction: column;
    
}
.input-group label {
    padding-left: 1rem;
    font-weight: 600; /* bolded the labels */
}
.input-group i{
    /* position: absolute; */
    color:black;

}
.input-group-input_field{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #757575;
    margin: 0.5rem;
}

input:focus{
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid hsl(327,90%,28%);
    
}
input::placeholder{
    color: transparent;
}
label{
    color: #757575;
    cursor: auto;
    transition: 0.3s ease all;
}
input:focus~label,input:not(:placeholder-shown)~label{
    top: -3em;
    color: hsl(327,90%,28%);
    font-size: 15px;
}
i {
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}
.fa-eye{
    color:#34c759 ;
    
}
.fa-eye-slash{
    color: #9b9b9b;
}
.hide{
    display: none;
}
.recover{
    text-align: right;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.recover a{
    text-decoration: none;
    color: rgb(125,125,235);

}
.recover a:hover{
    color: blue;
    text-decoration: underline;
}
.btn{
    font-size: 1.125rem;
    padding: 8px 0;
    margin-top: 20px; /* added space above the button */
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    /* background: rgb(125,125,235); */
    background: linear-gradient(to right, #4a235a, #5c6bc0); /* changed the background of the button from blue to purple bluish gradient */
    color: white;
    cursor: pointer;
    transition: 0.9s;
}
.btn:hover{
    /* background:#07001f; */
    background: linear-gradient(to right, #673ab7, #7986cb); /* added gradient for hover */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);   /* box shadow for subtle look of the button */
}
.or{
    font-size: 1.1rem;
    margin-top: 0.5rem;
    text-align: center;
}
.icons{
    text-align: center;
}
.icons i{
    color: rgb(125,125,235);
/*     background-color: #eee; changed background color  */
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid #dfe9f5;
    margin: 0 15px;
    transition: 1s;
}
.icons i:hover{
   background: #07001f;  
    font-size: 1.6rem;
    border: 2px solid rgb(125,125,235);
    /*  background-color: #ddd; changed background color  */
    
}
.links{
    display: flex;
    justify-content: space-around;
    padding:0 4rem;
    margin-top: 0.9rem;
    font-weight: bold;
    color: #5c6bc0
}
button{
    color: rgb(125,125,235);
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
}
button:hover{
    text-decoration: underline;
    color: blue;
}

